.object {
    justify-content: space-between;
}

header {
    height: 50px;
}

.list-icon {
    font-size: 1.5rem;
    cursor: pointer;
}

.list-icon,
#nav ul {
    display: block;
}

#time,
#nav,
.search {
    display: none;
}

#nav ul li {
    text-align: center;
}

#nav ul li:hover {
    background: red;
    border-bottom: none;
}

#nav ul li a:hover {
    color: white;
}

section {
    margin-top: 50px;
}

footer .container {
    display: block;
}

.footer-left,
.footer-right {
    width: 100%;
}